/******************************************************************************************
                                            INITIAL BLUE
*******************************************************************************************/
#nav a {
  background-color: #009ddb;
  transition: background 4s;
  color: white; }

#nav a:hover {
  background-color: #009ddb; }

#nav button {
  background-color: #009ddb;
  color: white; }

#el {
  background-color: #009ddb;
  transition: background 4s;
  color: black;
  border: 1px solid white;
  /* Green */
  border-radius: 8px; }

#nav button:hover {
  background-color: #009ddb; }

body {
  background-color: #009ddb;
  transition: background 4s;
  color: white; }

nav {
  background-color: #009ddb;
  transition: background 4s;
  color: white; }

.jumbotron {
  background-color: #009ddb;
  transition: background 4s; }

/******************************************************************************************
                                            BOUTTONS
*******************************************************************************************/
#portfolio {
  border-radius: 5px; }

#about {
  border-radius: 5px; }

#contact {
  border-radius: 5px; }

/******************************************************************************************
                                            MAIL
*******************************************************************************************/
.mail {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  /* transition: opacity 1s; */
  opacity: 0;
  pointer-events: none; }

.mail:hover {
  color: white;
  text-decoration: none; }

/* test */
#experiences {
  display: none; }
